<mat-spinner *ngIf="loading"></mat-spinner>
<div *ngIf="!loading" class="mt-4">
  <button class="btn btn-link" (click)="onGoBack()"><< Retour</button>
  <div class="single-thing-pane d-flex">
    <img class="rounded" [src]="pangolins?.imageUrl" alt="">
    <div class="single-thing-info m-3">
      <h3>{{ pangolins?.name }}</h3>
      <h4 class="single-thing-price">{{ pangolins?.specie }}</h4>
      <h6>
        Role : {{pangolins.role}}  &nbsp;&nbsp; Adresse : {{pangolins.address}} <br>
        Nombres d'amis : {{pangolins.friends.length}}
      </h6>
      <button class="btn btn-success m-1" (click)="onModify()" disabled>Modifier</button>
      <button class="btn btn-danger m-1" (click)="onDelete()" disabled>Supprimer</button>
    </div>
  </div>
</div>
