<mat-spinner *ngIf="loading"></mat-spinner>
<p class="text-center" *ngIf="pangolins.length <= 0 && !loading">Pas de pangolins !</p>
<div class="stuff-grid" *ngIf="pangolins.length >= 0">
  <ng-container *ngFor="let pango of pangolins">
    <div class="thing-pane" *ngIf="pango._id != userId"
      [ngStyle]="{'background-image': 'url(' + pango.imageUrl + ')'}" >
      <div class="thing-info">
        <span (click)="onProductClicked(pango._id)">
          <h3>{{ pango.name }}</h3>
          <h5>{{ pango.specie}}</h5>
        </span>
        <h6 class="text-end" *ngIf="!friendList.includes(pango._id)"> <button (click)="addFriend(pango._id)" class="btn btn-sm btn-success"> Ajouter </button> </h6>
      </div>
    </div>
  </ng-container>
</div>
