<mat-spinner *ngIf="loading"></mat-spinner>
<p class="text-center" *ngIf="pangolins.length <= 0 && !loading">Pas d'amis encore ;) !</p>
<div class="stuff-grid" *ngIf="pangolins.length >= 0">
  <div class="thing-pane" *ngFor="let pango of pangolins"
    [ngStyle]="{'background-image': 'url(' + pango.imageUrl + ')'}" (click)="onProductClicked(pango._id)">
    <div class="thing-info">
      <h3>
        {{ pango.name }}
      </h3>
      <h5>{{ pango.specie}}</h5>
      <h6 class="text-right"> <button (click)="deleteFriend(pango._id)" class="btn btn-sm btn-danger"> Supprimer </button> </h6>
    </div>
  </div>
</div>
<!-- après ngFor normalement but [ngClass]="{'open': thing._id === chosenId}" -->
