<app-header></app-header>



<div >
  <div class="hero-image" >
    <h2 class="hero-text">
      Bienvenue Sur PangolinLand
      <small>Le super carnet d'adresse pour pangolin </small>
    </h2>
  </div>
  <div class="container px-5 py-2">
    <h3>Un pangolin, qu'est-ce que c'est ? </h3>
    <p class="text">
      Cet animal tient son nom du malais pengguling qui signifie enrouleur. C'est un mammifère insectivore, son corps est recouvert d'écailles.
      Il a des similarités avec le tatou et l'oryctérope, chez les pangolins géant, son poids peut aller jusqu'à 35 kg et il peut mesurer 1,5m.
      La tête de l'animal est petit et longue, ses pattes sont courtes et ont 5 griffes. Le pangolin possède une longue queue qui peut être plus longue que son tronc.
      Il a quelques poils qui poussent entre ses écailles. Le pangolin possède une langue très longue dont il se sert pour se nourrir d'insectes,
      elle peut faire jusqu'à 30cm de longueur chez le pangolin géant.
      Où est-ce que ça vit et qu'est-ce que ça mange ?

      Les pangolins vivent majoritairement dans les forêts dans les régions équatoriales d'Afrique et en Asie du sud-est.
      Les pangolins se nourrissent de termites et de fourmis qu'ils capturent à l'aide de sa langue à laquelle les insectes restent collés.
      Pour trouver ses proies, ses terrains de chasse favoris sont les termitières, les troncs d'arbres, les herbes et les buissons.

      Mode de vie

      La plupart des pangolins sortent uniquement la nuit. Les espèces terrestres se servent de leur que pour grimper aux arbres.
      Ils possèdent un excellent odorat et une bonne ouïe mais une mauvaise vue. Pour se protéger et lorsqu'il sent un danger,
      il met sa tête entre ses pattes arrières et s'enroule et hisse ses écailles.

      Reproduction

      Le pangolin est un animal solitaire, une femelle ne voit un mâle uniquement pour s'accoupler et cette dernière n'a en général qu'un seul petit pangolin.

      Une espèce menacée

      Les pangolins sont parmi les espèces les plus braconnées au monde. L'espèce du pangolin de Chine est au bord de l'extinction,
      il est chassé pour ses écailles. Le pangolin d'Afrique centrale est chassé pour sa viande.
    </p>
    <p class="text-end">
      <small><i>https://www.maxisciences.com/animal-moche/pangolin-tout-savoir-sur-cet-animal_art40246.html</i></small>
    </p>


  </div>
</div>
